<h1><%= @employee.first_name %> <%= @employee.last_name %></h1>
<p>Email: <%= @employee.email %></p>
<p>Position: <%= @employee.position %></p>
<%= link_to 'Edit', edit_employee_path(@employee) %>
<%= link_to 'Back', employees_path %>
